@namespace GIBS.Module.DataRoom
@inherits ModuleBase
@implements Oqtane.Interfaces.ISettingsControl
@inject ISettingService SettingService
@inject IStringLocalizer<Settings> Localizer
@inject IRoleService RoleService

<div class="container">
    <div class="row mb-1 align-items-center">
        <label class="col-sm-3" for="createRole">Create Role</label>
        <div class="col-sm-9">
            <select id="createRole" class="form-select" @bind="@_viewRole">
                @foreach (var role in _roles)
                {
                    <option value="@role.Name">@role.Name</option>
                }
            </select>
       </div>
    </div>
</div>

@code {
    private string resourceType = "GIBS.Module.DataRoom.Settings, GIBS.Module.DataRoom.Client.Oqtane"; // for localization
    public override string Title => "DataRoom Settings";

    
    private string _viewRole;

    private List<Role> _roles { get; set; } = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (UserSecurity.IsAuthorized(PageState.User, RoleNames.Host))
            {
                _roles = await RoleService.GetRolesAsync(PageState.Site.SiteId, true);
                _roles.RemoveAll(item => item.Name == RoleNames.Everyone || item.Name == RoleNames.Unauthenticated);
            }
            else
            {
                _roles = await RoleService.GetRolesAsync(PageState.Site.SiteId);
                _roles.RemoveAll(item => item.Name == RoleNames.Everyone || item.Name == RoleNames.Unauthenticated);
            }
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _viewRole = SettingService.GetSetting(settings, "ViewRole", "");
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            settings = SettingService.SetSetting(settings, "ViewRole", _viewRole);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
